#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}

.app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.home {
  margin:0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.home-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.beer-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px;
  border-bottom: lightgrey solid 1px;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 50px;
}

.single-beer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: 50px
}

.beer-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-left: 100px;
}

.link {
  text-decoration: none;
  color: black
}

.bold {
  font-weight: bold;
}

.image-home {
  width: 100%
}

.image-beer {
  width: 60px;
  margin-bottom: 20px
}

.pages-container {
  margin:0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header-container {
  background-color: lightskyblue;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin-bottom: 40px
}

.header-image {
  width: 50px;
  height: 50px;
}

.input-search {
  width: 70%;
  height: 22px;
}

@media (min-width: 600px) {
  .home {
    margin: 0;
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
